
p{
    animation-duration: 3s;
    animation-name: p;
    position: relative;
    animation-fill-mode:backwards;
}
img{
    animation-duration: 3s;
    animation-name: img;
    position: absolute;
    animation-iteration-count: infinite;
    filter: blur(3px);
    filter: brightness(150%);
    filter: contrast(175%);
    filter: drop-shadow(5px 9px 2px pink);
    filter: invert(90%);
    

}

img:hover{
    height: 200px;
}

@keyframes p{
    0% {top: 0px; }
    100% { top:200px;}  
}
@keyframes img{
    0% {left: 0px;}
    100% { left:200px;} 

}


