.container{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    row-gap: 30px;
    column-gap: 30px;
}
.container .box img{
    width: 80%;
    height: 80%;
}
@media screen and (max-width:1024px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr;
    }
} 
@media screen and (max-width:768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
} 
@media screen and (max-width:425px) {
    .container{
        grid-template-columns: 1fr;             
    }
}