ul{
    display:block;
    display: inline-block;
    background-color:white;
    margin-top: 0px;
    position:fixed;
}
ul li{
    display: block;
    display: inline-block;
    margin: 7px;
    position: relative;
    font-size: 10px;
    
}
 #logo{
    margin-right: 423px;
   
}
section article h1{
    position:absolute;
    bottom:250px;
    right:750px;
    font-size: 40px;
    color:snow;
    
}
section article h6{
    position:absolute;
    bottom:250px;
    right:950px;
    color: snow;
    bottom: 200px;
}
section article h5{
    position:absolute;
    bottom:130px;
    right:1080px;
    color: black;
    background-color: white;
    padding: 10px;
}
footer{
    position: absolute;
    margin-top: -25px;
   margin-left: 5px;
}
footer a{
    text-decoration: none;
    color: snow;
}  

